
<section class="wholebody">
    <mat-tab-group mat-stretch-tabs="false" dynamicHeight>
        <mat-tab label="Episodes" class="mat-tab">
            <mat-tab-group  mat-stretch-tabs="false" dynamicHeight class="season">
                <mat-tab *ngFor="let i of item.seasons_name" [label]="i">
                  <app-season-body (senddata)="catch_season_data($event)" [itemId]="item.id"></app-season-body>
                </mat-tab>
            </mat-tab-group>
        </mat-tab>
        <mat-tab label="More Like This">
          <div class="example-large-box mat-elevation-z4">
            <app-more-like-this (data)="catch_more_like_this_data($event)" [dataId]="item.id"></app-more-like-this>
          </div>
        </mat-tab>
      </mat-tab-group>
</section>
