<section class="slider-section">
  <h2>Latest Release</h2>
  <div class="card-container">
    <div class="images" *ngFor="let i of item">
      <a [routerLink]="['/s']">
        <img
          [src]="i.img"
          alt="{{ i.alt }}"
          (click)="emitImage(i);"
        />
      </a>
    </div>
  </div>

  <button
    mat-mini-fab
    aria-label="Example icon button with a menu icon"
    class="prev"
    color="primary"
    #prevButton
    (click)="prevfun()"
  >
    <mat-icon>arrow_back_ios</mat-icon>
  </button>

  <button
    mat-mini-fab
    aria-label="Example icon button with a menu icon"
    class="next"
    color="primary"
    #nextButton
    (click)="nextfun()"
  >
    <mat-icon>arrow_forward_ios</mat-icon>
  </button>
</section>
