.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../../../public/OnePiece.jpeg");
    height: 743px;
    width: 96%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 2px solid green;

  }
  
  .hero-text {
    position: relative;
    top: 70%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: white;
    width: 40%;
  }

  .dot::before {
    display: inline-block;
    content: '';
    -webkit-border-radius: 0.375rem;
    border-radius: 0.375rem;
    height: 0.50rem;
    width: 0.50rem;
    margin-left: 0.5rem;
    margin-right: 0.15rem;
    background-color: #bdbdbd;
  }
  
  .line::before{
    display: inline-block;
    content: '';
    height: 0.75rem;
    width: 2px;
    background-color: #bdbdbd;
    margin-left: 0.5rem;
    margin-right: 0.5rem;

  }

  button{
    background-color: #bdbdbd38;
    margin: 20px;
    border-radius: 1rem;
    transition: all .5s ease-in-out;
    
  }

  button:hover{
    background-color: #bdbdbd64;
    transform: scale(1.025);
  }

  #sub_button{
    margin-left: -8px;
  font-size: 20px;
  }
