<p>railer works!</p>
<section class="slider-section">
    <div  class="card-container">

        <div class="images">
            <img src="https://img10.hotstar.com/image/upload/f_auto,h_148/sources/r1/cms/prod/2965/1717524622965-t" alt="not found">
        </div>
        <div class="images">
            <img src="https://img10.hotstar.com/image/upload/f_auto,h_148/sources/r1/cms/prod/2965/1717524622965-t" alt="not found">
        </div>
        <div class="images">         
            <img src="https://img10.hotstar.com/image/upload/f_auto,h_148/sources/r1/cms/prod/2965/1717524622965-t" alt="not found">
        </div>
        <div class="images">
            <img src="https://img10.hotstar.com/image/upload/f_auto,h_148/sources/r1/cms/prod/2965/1717524622965-t" alt="not found">          
        </div>
        <div class="images">
            <img src="https://img10.hotstar.com/image/upload/f_auto,h_148/sources/r1/cms/prod/2965/1717524622965-t" alt="not found">      
        </div>
        <div class="images">
            <img src="https://img10.hotstar.com/image/upload/f_auto,h_148/sources/r1/cms/prod/2965/1717524622965-t" alt="not found">
        </div>
        <div class="images">
            <img src="https://img10.hotstar.com/image/upload/f_auto,h_148/sources/r1/cms/prod/2965/1717524622965-t" alt="not found">
        </div>
    </div>

        <button class="prev">
            prev
        </button>
        <button class="next">
            next
        </button>
</section>
