<div>
  <h2>Profile</h2>
  <ul class="users">
    <li>
      <img src="/ANIME-W (2).gif" alt="" />
      <p>Divya</p>
    </li>
    <li>
      <img src="/ANIME-W (2).gif" alt="" />
      <p>sankalp</p>
    </li>
    <li>
      <img src="/ANIME-W (1).gif" alt="" />
      <p>vaibhav</p>
    </li>
    <li>
      <img src="/Doraemon.jpeg" alt="" />
      <p>ddt</p>
    </li>
    <li>
      <button
        mat-mini-fab
        aria-label="Example icon button with a menu icon"
        id="add_icon"
      >
        <mat-icon>add</mat-icon>
      </button>
      <p>add</p>
    </li>
  </ul>
</div>
