.example-card {
    max-width: 600px;
    margin: 20px 0px;
    margin-left: 20px;

  }
  
  .example-card-footer {
    padding: 16px;

  }
  
  .image{
    height: 180px;
    border-radius: 20px;
  }

  .card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }