<div *ngFor="let data of data">
<div *ngFor="let i of data" class="card">
    <span>
        <img [src]="i.img" alt="Image Not Found" class="image">
    </span>
<mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>{{i.title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>{{i.description}}</p>
    </mat-card-content>
    <mat-card-footer class="example-card-footer">
      <mat-chip-set aria-label="Chihuahua traits">
        <mat-chip>{{i.date}}</mat-chip>
        <mat-chip>{{i.season}}</mat-chip>
        <mat-chip>{{i.time}}m</mat-chip>
      </mat-chip-set>
    </mat-card-footer>
  </mat-card>
  </div>
</div>