@if(watch_acc_userID){
  <div>
    <h3>Watch List</h3>
    <div id="mat_card">
      @for (item of watch_acc_userID; track item) {
      <mat-card class="example-card" appearance="outlined">
        <mat-card-header>
          <mat-card-title>Season{{ item.seasons }}</mat-card-title>
          <mat-card-subtitle>{{ item.watch_hours }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="item.img" alt="Photo of a Shiba Inu" class="img"/>
        <mat-card-content>
          <p>{{item.title | convertTitleLength}}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>Watch</button>
        </mat-card-actions>
      </mat-card>
      }
    </div>
  </div>
}
@if(watchList_accord){
  <div>
    <div id="mat_card">
      @for (item of second_watchList.item; track item) {
      <mat-card class="example-card" appearance="outlined">
        <mat-card-header>
          <mat-card-title>Season{{ item.seasons }}</mat-card-title>
          <mat-card-subtitle>{{ item.watch_hours }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="item.img" alt="Photo of a Shiba Inu" class="img"/>
        <mat-card-content>
          <p>{{item.title | convertTitleLength}}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>Watch</button>
        </mat-card-actions>
      </mat-card>
      }
    </div>
  </div>
}