.example-card {
  width: 200px;
  height: 200px;
}

.container {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
  width: 84rem;
  margin-left: auto;
  margin-right: auto;
}

.image {
  height: 100px;
}

.films {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1; /* Standard property */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card {
  margin: 20px;
  transition: all 0.5s ease-out;
}
.card:hover {
  transform: scale(1.25);
}
