<div class="intro">
  <mat-card class="example-card" appearance="outlined" id="card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Divya Darshan Tiwari</mat-card-title>
      <mat-card-subtitle>Primary User</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      [src]="img"
      alt="Photo of a Shiba Inu"
      id="image"
    />
    <mat-card-content class="user_details">
      <form action="">
        <label for="number">Phone No</label>
        <input type="number" name="Phone_number" id="number" [(ngModel)]="phone" autocomplete="on" />
        <br>
        <label for="name">User Name</label>
        <input type="text" name="User_Name" id="name" [(ngModel)]="name" autocomplete="on"/>
        <br>
        <label for="email">Email Address</label>
        <input type="email" name="User_email" id="email" [(ngModel)]="email" autocomplete="on"/>
        <br>
        <label for="DOB">Date of Birth</label>
        <input type="date" name="DOB" id="DOB"[(ngModel)]="DOB" autocomplete="on"/>
      </form>
    </mat-card-content>
    <mat-card-actions id="button">
      <button mat-button>Save</button>
      <button mat-button>Cancle</button>
    </mat-card-actions>
  </mat-card>
  <div>
  <app-no-of-users [user_Personal_Data]="user_Personal_Data" (emitter)="returned_Data($event)" />
</div>
</div>
<app-watch-list [watchList]="data1" [id]="id" [second_watchList]="second_watchList"/>
