.intro {
  display: flex;
  justify-content:left;
  align-items:center;
  width: 96%;
  background: url("https://i.pinimg.com/736x/bd/da/fc/bddafc029d86df72bef91bba70973c71.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  min-height: 100%;
  grid-template-columns: auto auto auto;
  border: 3px solid green
  
}
.example-card {
  background-color: rgba(0, 4, 65, 0.304);
  margin:0px 10%;
}
#image{
    margin: 0% 25%;
    border-radius: 50%;
    width: 50%;
    height: 100px;
    border: 2px solid rebeccapurple;
}

.user_details{
    padding: 0% 25%;
    display: block;
    width: 200px;
 }

 form input{
   border:  2px solid red;
   width: 70%;
 }

 #button{
    display: block;
    padding: 0% 20%;
 }

 form input{
    background-color: rgba(240, 248, 255, 0.295);
    border: 1px solid silver;
    border-radius: 5px;
 }