<section class="searchbody">
  <p class="container">
    <mat-form-field appearance="fill" class="search_bar">
      <input matInput placeholder="Which Anime" #input />
    </mat-form-field>
    <button
      mat-fab
      aria-label="Example icon button with a menu icon"
      (click)="searchData(input.value)"
    >
      <!-- search button -->
      <mat-icon>search</mat-icon>
    </button>
  </p>
  <section>
    <!--Contains all the  selectors-->
    <form class="inline_block border">
      <mat-form-field>
        <mat-label>Type</mat-label
        ><!-- selecting the tpye tv movie etc -->
        <mat-select [(ngModel)]="selectedTypeValue" name="Type">
          @for (item of type; track item) {
          <mat-option [value]="item.value">{{ item.viewValue }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </form>
    <form class="inline_block border">
      <mat-form-field>
        <mat-label>U_A</mat-label>
        <!-- selecting the U_A -->
        <mat-select [(ngModel)]="selected_U_A" name="U_A">
          @for (item1 of rating; track item1) {
          <mat-option [value]="item1.value">{{ item1.viewValue }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </form>
  </section>
  @defer{
  <div class="container">
    @for (item of MainData; track item.mal_id){

    <mat-card class="example-card" appearance="outlined" (click)="Searched_item_Clicked(item)" [matTooltip]="item.title" matTooltipPosition="left" >
      <img
        mat-card-image
        [lazyLoad]="item.images.jpg.large_image_url"
        alt="Photo of a Shiba Inu"
        class="poster"
      />  
      <mat-card-content>
        <p style="margin-bottom: 0px">{{ item.title  | convertTitleLength}}</p>
        <span class="episodes"
          ><mat-icon fontIcon="star" class="icon"></mat-icon
          >{{ item.score }}</span
        >
        <span class="episodes"
          ><mat-icon fontIcon="subscriptions" class="icon"></mat-icon
          >{{ item.episodes }}</span
        >
        <span>{{ item.status | finisedAirirng }}</span>
      </mat-card-content>
    </mat-card>
    }
  </div>
  <mat-paginator
  [length]=lenght
  [pageSize]="10"
  [pageSizeOptions]="[5, 10,14, 24]"
  aria-label="Select page"
  (page)="changePage($event)"
  class="paginator"
>
</mat-paginator>
  } @placeholder {
  <h1>Loading...</h1>
  }

</section>
