

<div class="hero-image">
    <div class="logo">
      <img src="/ANIME-W (1).gif" alt="none">
    </div>
      <div class="hero-text">
        <div>
          <img src="/One-Piece-Logo.png" alt="Hanuman">
        </div>
        <div>
          <span>
              <span>2024</span> 
          </span>
          <span>
              <span class="dot">4 Season</span>
          </span>
          <span>
              <span class="dot">7Language</span>
          </span>
          <span>
              <span class="dot">U/A 7+</span>
          </span>
        </div>
        <p>NEW EPISODE EVERY THURSDAY. As the war intensifies in Ravan's majestic Lanka, Hanuman faces mightier foes for his Lord Ram with his vaanar sena.</p>
  
        <div>
          <span>Mythoology</span>
          <span>
              <span class="line">Animation</span>
          </span>
          <span>
              <span class="line">Creature&Monsters</span>
          </span>
          <span>
              <span class="line">Fantasy</span>
          </span>
        </div>
        <div class="example-button-container">
          <button mat-fab extended id="sub_button">
              <mat-icon>subscriptions</mat-icon>
              Subscribe To Watch
          </button>
          <button mat-fab aria-label="Example icon button with a add icon" style="border-radius: 1rem;" title="Watch List">
              <mat-icon>add</mat-icon>
            </button>
        </div>
      </div>
    </div>